<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>Junia's blog</h2>
        <p>The best place to write and read about Junia.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
    
</body> 
</html>
